<div id="comments-container"></div>

<script>
  const script = document.createElement("script");
  const container = document.querySelector("#comments-container");
  const currentTheme = localStorage.getItem("theme");

  Object.entries({
    src: "https://giscus.app/client.js",
    "data-repo": "tanerijun/vitaneri-v3",
    "data-repo-id": "R_kgDOIJI8HQ",
    "data-category": "General",
    "data-category-id": "DIC_kwDOIJI8Hc4CR3FU",
    "data-mapping": "title",
    "data-strict": "1",
    "data-reactions-enabled": "1",
    "data-emit-metadata": "0",
    "data-input-position": "top",
    "data-theme": currentTheme === "light" ? "light" : "dark_dimmed",
    "data-lang": "en",
    "data-loading": "lazy",
    crossorigin: "anonymous",
  }).forEach(([key, value]) => {
    script.setAttribute(key, value);
  });

  container?.appendChild(script);
</script>
